altgraph==0.16.1
appdirs==1.4.4
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
distlib==0.3.1
filelock==3.0.12
future==0.17.1
idna==2.8
importlib-metadata==1.7.0
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.0
pefile==2019.4.18
pycrypto==2.6.1
pycryptodome==3.9.0
PyInstaller==3.5
pyparsing==2.4.2
PyQt5==5.13.0
PyQt5-sip==4.19.18
PySide2==5.13.0
pyTelegramBotAPI==3.7.3
python-dateutil==2.8.0
pywin32-ctypes==0.2.0
requests==2.7.0
shiboken2==5.13.0
simple-crypt==4.1.7
six==1.12.0
telebot==0.0.3
urllib3==1.25.3
virtualenv==20.0.31
zipp==3.1.0
